@import '../../../../../App.scss';

.good {
  border: 1px solid $gray100;
  height: fit-content;

  @include on-tablet {
    min-width: 300px;
  }

  &__container {
    overflow: hidden;
    height: 428px;
    margin-bottom: 16px;
  }

  &__img {
    border: 1px solid $gray100;

    width: 360px;
    height: 428px;
    transition: all .3s;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__name {
    @include big-main-text;
    margin-bottom: 8px;
    color: $gray100;
  }

  &__price {
    @include secondary-text;
    color: $gray80;
  }
}
