@mixin on-mobile {
	@media (max-width: $tablet-min-width) {
		@content;
	}
}

@mixin on-tablet {
	@media (max-width: $desktop-min-width) {
		@content;
	}
}

@mixin on-desktop {
	@media (min-width: $desktop-min-width) {
		@content;
	}
}

@mixin content-padding-inline() {
  padding-inline: 40px;
  max-width: 1440px;

	@include on-tablet {
		padding-inline: 24px;
	}

	@include on-mobile {
    padding-inline: 16px;
    margin: 0 auto;
  }
}

@mixin hover($_property, $_toValue) {
	transition: #{$_property} 0.3s;
	&:hover {
		#{$_property}: $_toValue;
	}
}

@mixin grid {
	display: grid;
  column-gap: 20px;
  --columns: 12;

	grid-template-columns: repeat(var(--columns), 1fr);

	@include on-tablet {
    column-gap: 8px;
		--columns: 6;
	}

	@include on-mobile {
    --columns: 2;
    }
}

@mixin h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 54px;
	line-height: 120%;
}

@mixin h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 40px;
	line-height: 120%;
}

@mixin h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 32px;
	line-height: 120%;
}

@mixin h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
}

@mixin big-main-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
}

@mixin bold-main-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
}

@mixin button-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}

@mixin secondary-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
}

@mixin small-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
}

@mixin button($bcolor,
$url,
$x1,
$y1,
$bor,
$col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}