@import '../../../App.scss';

.catalog {
  @include grid;
  margin-top: 40px !important;
  margin-bottom: 120px !important;

  @include on-tablet {
    display: flex;
  }

  &__aside {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(291px, 1fr));
    column-gap: 25px;
    row-gap: 40px;
    margin-top: 61px;

    @include on-tablet {
      display: flex;
      justify-content: flex-start;
      margin-left: 24px;
      position: relative;
      flex-wrap: wrap;
      width: 96%;
      transition: left .5s linear;
    }
  }

  &__tablet--filters {    
    @include on-tablet {
      position: absolute;
      width: 250px;
      z-index: 2;
      transition: left .5s linear;
      background-color: white;
      height: -webkit-fill-available;
    }
  }
}

.contents {
  grid-column: 1 / 3;
}