@import '../../../App.scss';

.cart {
  margin-block: 60px !important;

  &__title {
    @include h2;
    margin-bottom: 24px;
  }

  &__grid {
    @include grid;
  }

  &__items {
    grid-column: 1 / 9;
  }

  &__total {
    grid-column: 9 / -1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  &__price {
    @include h3;
  }

  &__empty {
    display: flex;
    text-align: center;
  }

  &__button {
    @include button-text;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    color: $gray0;
    text-align: center;
    overflow: hidden;
    position: relative;

    span {
      @include button-text;
      width: 100%;
      width: 236.96px;
      height: 44px;
      padding: 10px;
      border: 1px solid $gray100;
      line-height: 150%;
    }

    button {
      width: 100%;
      height: 100%;
    
      @include button($gray100,
      "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png",
      2300%,
      100%,
      none,
      #fff);
      cursor: pointer;
      -webkit-animation: ani2 0.7s steps(22) forwards;
      animation: ani2 0.7s steps(22) forwards;
      transition: all .3s;
    
      &:hover {
      -webkit-animation: ani 0.7s steps(22) forwards;
      animation: ani 0.7s steps(22) forwards;
      }
    }
  }
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  grid-column: 1 / -1;

  &__title {
    @include h3;

    @include on-mobile {
      font-size: 24px;
    }
  }

  &__text {
    @include button-text;

    @include on-mobile {
      @include secondary-text;
    }
  }

  img {
    max-width: 300px;
    margin-bottom: 24px;
  }
}

.mas {
  position: absolute;
  color: $gray100;
  text-align: center;
  width: 100%;
  font-weight: 300;
  position: absolute;
  overflow: hidden;
  padding: 10px;
}
 
 @-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
 
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
 }
 
 @keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
 
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
 }

 @-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
 
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
 }
 
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

