$tablet-min-width: 639px;
$desktop-min-width: 1199px;

$gray100: #222529;
$gray80: #353A3F;
$gray60: #4A5056;
$gray40: #F1F3F5;
$gray30: #878E95;
$gray20: #AFB5BB;
$gray10: #DFE2E6;
$gray5: #DFE2E6;
$gray2: #DFE2E6;
$gray1: #DFE2E6;
$gray0: #FFFFFF;

$white: #FFFFFF;

$error: #DD4E47;
$info: #536DED;
$warning: #F9E95E;
$success: #5DB059;
