@import '../../../../../App.scss';
.wrapper {
  max-width: 500px;
  margin: 50px 0;
  padding: 40px 25px;
  background-color: whitesmoke;
  font-family: Arial;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.menu {
  display: flex;
  justify-content: center;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 40px);
  height: calc(100vh - 100px);
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  overflow-y: scroll;
  z-index: 450;
  width: 100%;
  height: 100%;
}

.no-modal-wrapper {
  max-width: 500px;
  font-size: 16px;
  line-height: 30px;
  background-color: #a4d1c8;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  cursor: pointer;
}

.modal {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  height: -moz-fit-content;
  height: -webkit-fill-available;
  position: relative;
  border: 5px;
  border-radius: 10px;
  padding: 20px;

  &__img {
    object-fit: fill;
    border-radius: 10px;
    max-width: 392px;

    @include on-mobile {
      width: 100%;
    }
  }
}