@import '../../../App.scss';

.details {
  margin: 40px 0 120px !important;
  display: grid;

  &__warnings {
    grid-column: 1 / 7;
    background-color: $gray40;
    padding: 16px 24px;
    height: min-content;
    display: flex;
    gap: 16px;

    @include on-tablet {
      grid-column: 1 / 4;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 90%;
    }

    @include on-mobile {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-content: start;
      width: 100%;
    }

    &--card {
      display: flex;
      gap: 8px;
      flex-direction: column;

      @include on-tablet {
        width: 170px;
      }
      
      @include on-mobile {
        width: auto;
      }

      &-img {
        animation: none;
        width: 32px;
        text-align: center;
      }

      &-title {
        @include bold-main-text;
        color: $gray100;
      }

      &-text {
        @include small-text;
        color: $gray80;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include small-text;
    color: $gray100;
  }

  &__history {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 24px 0 24px;
    text-transform: capitalize;

    @include on-tablet {
      margin: 24px 0 40px;
    }
  }

  &__back {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 16px;
  }

  &__title {
    @include h1;
    color: $gray100;
    padding-bottom: 8px;
    margin-bottom: 32px;
    text-transform: capitalize;

    @include on-tablet {
      font-size: 36px;
    }
  }

  &__data {
    @include grid;
  }

  &__images {
    grid-column: 1 / 7;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;

    @include on-tablet {
      grid-column: 1 / 5;
      grid-row: 1 / -1;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    @include on-mobile {
      flex-direction: column;
    }
    
    @media (width <= 880px) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }

    &--main {
      margin: 0 auto;
      width: 444px;
      height: 534px;
      object-fit: cover;
      transition: transform .3s ease-out;

      @include on-tablet {
        margin: 0;
      }

      @include on-tablet {
        width: auto;
      }
    }

    &--blocks {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 16px;

      @include on-mobile {
        flex-direction: row;
        margin-top: 0;
        justify-content: center;
      }

      &-img {
        width: 80px;
        height: 80px;
        border: 1px solid white;
        cursor: pointer;

        &:hover {
          border: 1px solid $gray100;
        }

        &-active {
          border: 1px solid $gray100;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__filters {
    grid-column: 8 / -1;
    grid-row: 1 / -1;
    margin: 40px 0 56px;

    @include on-tablet {
      grid-column: 5 / -1;
    }

    @include on-mobile {
      margin: 70px 0 0;
    }

    @media (width <= 1065px) {
      grid-column: 5 / -1;
    }

    @media (width <= 880px) {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
    }

    &--error {
      @include small-text;
      color: $error;
      margin-top: 8px;
    }

    &--colors {
      display: flex;
      gap: 8px;
      margin-top: 8px;

      &-block {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid $gray10;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          border: 1px solid $gray100;
        }

        &-active {
          border: 1px solid $gray100;
        }

        .color {
          width: 29px;
          height: 29px;
          border-radius: 50%;
        }
      }
    }
  }

  &__colors {
    &--text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }

    &--title {
      @include secondary-text;
      color: $gray80;
    }

    &--id {
      @include secondary-text;
      color: $gray30;
    }

    &--info {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: end;
      right: 0;
      top: -50px;
    }
  }

  &__capacity {
    padding-block: 24px;
    margin: 24px 0 32px;
    border-top: 1px solid $gray10;
    border-bottom: 1px solid $gray10;;

    &--title {
      @include secondary-text;
      color: $gray80;
    }

    &--capacities {
      display: flex;
      gap: 8px;
      margin-top: 8px;

      &-block {
        padding: 7px 8px 4px;
        background-color: $gray0;
        border: 1px solid $gray30;
        color: $gray100;
        cursor: pointer;

        &:hover {
          border: 1px solid $gray100;
        }

        &-active {
          border: 1px solid $gray100;
          background-color: $gray100;
          color: $gray0;
        }
      }
    }
  }

  &__buy {
    &--price {
      margin-bottom: 16px;
      span:nth-child(1) {
        @include h2;
        color: $gray100;
      }
      span:nth-child(2) {
        margin-left: 8px;
        font-weight: 400;
        font-size: 22px;
        color: $gray80;
        text-decoration: line-through;
      }
    }

    &--buttons {
      margin-bottom: 16px;
      position: relative;
      display: inline-block;
      width: 263px;
      height: 48px;

      span {
        height: inherit;
        border: 1px solid $gray100;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include on-mobile {
        display: block;
      }

      &:nth-child(3) {
        display: block;
      }

      &-added {
        width: 263px;
        height: 48px;
        @include button-text;
        background-color: $gray0;
        border: 1px solid $success;
        color: $success;
      }

      &-cart {
        width: 263px;
        height: 48px;
        background-color: $gray100;
        color: $gray0;
        width: 100%;
        height: 100%;
      
        @include button($gray100,
        "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png",
        2300%,
        100%,
        none,
        #fff);
        cursor: pointer;
        -webkit-animation: ani2 0.7s steps(22) forwards;
        animation: ani2 0.7s steps(22) forwards;
        transition: all .3s;
      
        &:hover {
        -webkit-animation: ani 0.7s steps(22) forwards;
        animation: ani 0.7s steps(22) forwards;
        }

        @include on-mobile {
          width: 100%;
        }
      }

      &-disabled {
        width: 263px;
        height: 48px;
        background-color: $gray60;
        border: 1px solid $gray60;
        color: $gray0;
        cursor: not-allowed;
      }

      &-sizes {
        width: 263px;
        height: 48px;
        background-color: $gray0;
        border: 1px solid $gray100;
        color: $gray100;

        @include on-mobile {
          width: 100%;
        }
      }
    }
  }

  &__info {
    margin-block: 56px;
    @include grid;

    &--title {
      @include h3;
      color: $gray100;
      display: block;
      padding-bottom: 16px;
      border-bottom: 1px solid $gray10;;
    }
  }

  &__about {
    grid-column: 7 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-mobile {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      margin-top: 24px;
    }

    &--block {
      margin-top: 32px;

      &-title {
        @include big-main-text;
        color: $gray100;
        margin-bottom: 16px;
      }

      &-text {
        @include button-text;
        color: $gray80;
      }
    }
  }
}

.zoom {
  position: relative;
  overflow: hidden;
}

.details__images--main {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.magnifier {
  display: none;
  border: 2px solid #000;
}
.mas {
  position: absolute;
  color: $gray100;
  text-align: center;
  width: 100%;
  font-weight: 300;
  position: absolute;
  overflow: hidden;
}
 
 @-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
 
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
 }
 
 @keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
 
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
 }

 @-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
 
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
 }
 
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}